<div class="all_future_content">
  <h1><%= @journal.title %></h1>

  <h2>Index and Future Log</h2>

  <div class="future_log_container">
    <div class="sidebar">
    <h3>Index</h3>
      <% @months.each do |month| %>
      <p>
        <%= month.strftime("%B") %>
        <!-- Make each of these a link to the Month View -->
      </p>
      <% end %>
    </div>

  <br>

    <div class="months_container">
      <h3>Future Log</h3>
      <div class="months">
        <% @months.each do |month| %>
        <div class="<%= month.strftime("%B").downcase %> month">
          <p>
            <%= month.strftime("%B") %>
          </p>
          <ul>
            <% @entries.each do |entry| %>
              <% if entry.created_at.month == month.month %>
                <li>
                  <%= entry.content %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <% end %>
        </div>
      </div>
  </div>
</div>


